body {
    background: #141414;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #1f1f1f;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 15px #00000055;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #ffd700;
}

.login-container input,
.login-container select {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background: #2d2d2d;
    color: white;
    font-size: 15px;
}

button {
    width: 96%;
    padding: 12px;
    margin: 10px 0;
    background: #ffd700;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #f7c600;
}

hr {
    border: 1px solid #444;
    margin: 20px 0;
}
